<section>
  <h1>About Me</h1>
  <p>Born in Ukraine, lived in Japan, Toronto and now residing in lovely Vancouver, Canada.</p>

  <p>Front-end developer at PlayHaven by day, photographer and tango dancer at night.</p>

  <p>Worked with unbounce.com, fabric-engine.com, kik.com and attachments.me. Hobby photographer, tango dancer, cyclist and traveller.</p>

  <p>During the last two years travelled to and spent some time in San Francisco, New York, Montreal, Quebec, Ottawa, Ann Arbor, Waterloo, Kingston, Buffalo, Philadelphia, Washington DC, New Haven.</p>

  <p>Really looking forward to including new cities in this list.</p>
</section>
