// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

@media only screen and (min-width: 768px) {
  .entry-content {
    li {
      margin-left: 30px;
    }
  }
}
